<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7737fc4a-8334-41c9-8b15-472b5e26dcef" Publisher="CN=georgi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TicTacToe</DisplayName>
    <PublisherDisplayName>georgi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TicTacToe.App">
      <VisualElements DisplayName="TicTacToe" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TicTacToe" ForegroundText="light" BackgroundColor="#6814ff">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>